<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- El título se inyecta dinámicamente -->
  <title>{{TITLE}}</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="save-load.css" />
</head>

<body>
  <!-- Contenedor principal donde se renderiza el juego -->
  <div id="play-view" class="play-view full-screen"></div>

  <!-- Punto de entrada del script del juego (generado dinámicamente) -->
  <script type="module" src="js/game.js"></script>
</body>

</html>